<launch>

  <group ns="turtlesim1">
    <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
    <node pkg="turtle_sim_rand" name="limit_service_node" type="limit_service_node.py" output="screen"/>
    <node pkg="turtle_sim_rand" name="cmdPublisher" type="cmdPublisher.py" output="screen"/>
  </group>
</launch>
